<h3>Filters</h3>
<div class="filter-wrapper">
    <h4>Gender</h4>
    <ul>
        <li *ngFor="let genderFilter of genderFilters;let index=index">
            <input (change)="filterSelect(genderFilter,'Gender')" [checked]="selectedFilters.includes(genderFilter)" type="checkbox" id="gender{{index}}" />
            <label for="gender{{index}}">{{genderFilter}}</label>
        </li>
    </ul>
</div>

<div class="filter-wrapper">

<h4>Species</h4>

<ul>
    <li *ngFor="let speciesFilter of speciesFilters;let index=index">
        <input (change)="filterSelect(speciesFilter,'Species')"  [checked]="selectedFilters.includes(speciesFilter)" type="checkbox" id="species{{index}}" />
        <label for="species{{index}}">{{speciesFilter}}</label>
    </li>
</ul>
</div>