.filter-wrapper {
  padding: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin-bottom: 10px;
  ul {
    margin-bottom: 0px;
    padding: 0px;
    li {
      list-style: none;
      label {
        padding-left: 5px;
      }
    }
  }
}
