<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-3 col-12">
            <app-filter [(filters)]="selectedFilters" (filtersChange)="updateCharacters()"></app-filter>
        </div>
        <div class="col-lg-10 col-sm-9 col-12">
            <div class="row" *ngIf="selectedFilters.length">
                <div class="col-lg-12">
                    <h4>Selected filters</h4>
                    <div class="selected-filters-wrapper">
                        <div class="selected-filters" *ngFor="let filter of selectedFilters">{{filter.value}}
                            <button (click)="handleFilters(filter)">X</button></div>
                    </div>
                </div>
            </div>
            <div class="row margin-top-10 margin-bottom-10">
                <div class="col-lg-4 col-sm-4 col-12">
                    <h6 class="margin-bottom-10">Search by Name</h6>
                    <form class="form-group">
                        <input name="searchtext" class="form-control" [(ngModel)]="searchText" />
                    </form>
                </div>
                <div class="col-lg-5 col-sm-5">

                </div>
                <div class="col-lg-3 col-sm-3 col-12">
                    <select class="width-100 margin-top-25" name="fieldName" [(ngModel)]="sortValue">
                        <option value="asc">
                            Ascending
                        </option>
                        <option value="desc">
                            Descending
                        </option>
                    </select>
                </div>
            </div>
            <div class="row character-container" *ngIf="characters.length else emptyTable">
                <div class="col-lg-3 col-sm-3 col-6 padding-left-5 padding-right-5" *ngFor="let character of characters|search:searchText:'name'| sort:'id':sortValue| paginate: { itemsPerPage: 20, currentPage: currentPage,totalItems:totalItems }">
                    <div class=character-wrapper>
                        <div class="character-img">
                            <img [src]="character.image" class="img-content">
                            <div class="character-name">
                                <div>{{character.name}}</div>
                                <span class="font-10">id:{{character.id}}
                                    - created {{character.yearDifference}} years ago</span>
                            </div>

                        </div>
                        <div class="character-info">
                            <div class="info-text">
                                <div class="info-key">
                                    GENDER:
                                </div>
                                <div class="info-value">
                                    {{character.gender}}
                                </div>
                            </div>
                            <div class="info-text">
                                <div class="info-key">
                                    STATUS:
                                </div>
                                <div class="info-value">
                                    {{character.status}}
                                </div>
                            </div>                           
                            <div class="info-text">
                                <div class="info-key">
                                    SPECIES:
                                </div>
                                <div class="info-value">
                                    {{character.species}}
                                </div>
                            </div>    
                            <div class="info-text">
                                <div class="info-key">
                                    ORIGIN:
                                </div>
                                <div class="info-value">
                                    {{character.origin?.name}}
                                </div>
                            </div>   
                            <div class="info-text">
                                <div class="info-key">
                                    LAST LOCATION:
                                </div>
                                <div class="info-value">
                                    {{character.location?.name}}
                                </div>
                            </div>                          
                        </div>
                    </div>
                </div>
                <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
            </div>
            <ng-template #emptyTable>No Items</ng-template>

        </div>
    </div>
</div>